[plugin]
prepend_previewers = [
  # Archive previewer
  { mime = "application/*zip",            run = "ouch" },
  { mime = "application/x-tar",           run = "ouch" },
  { mime = "application/x-bzip2",         run = "ouch" },
  { mime = "application/x-7z-compressed", run = "ouch" },
  { mime = "application/x-rar",           run = "ouch" },
  { mime = "application/vnd.rar",         run = "ouch" },
  { mime = "application/x-xz",            run = "ouch" },
  { mime = "application/xz",              run = "ouch" },
  { mime = "application/x-zstd",          run = "ouch" },
  { mime = "application/zstd",            run = "ouch" },
  { mime = "application/java-archive",    run = "ouch" },
]

# options when pressing "o" or "O"
[opener]
extract = [
  { run = 'ouch d -y %s', desc = "Extract here with ouch", for = "unix" },
]
edit = [
  { run = 'nvim %s', block = true, desc = "Neovim", for = "unix" },
  { run = 'codium %s', orphan = true, desc = "Codium", for = "unix" },
]
display_image = [
  # { run = 'gwenview %s', orphan = true, desc = "Gwenview", for = "unix" },
  { run = 'imv %s', orphan = true, desc = "Image Viewer", for = "unix" },
  { run = 'pinta %s', orphan = true, desc = "Pinta", for = "unix" },
]
display_pdf = [
  # { run = 'okular %s', orphan = true, desc = "Okular", for = "unix" },
  { run = 'evince %s', orphan = true, desc = "Document Viewer", for = "unix" },
]
display_video = [
  { run = 'vlc %s', orphan = true, desc = "Vlc", for = "unix" },
]
run = [
  { run = '%s', block = true, desc = "Run executable", for = "unix"},
]
run_appimage = [
  { run = '%s', orphan = true, desc = "Run AppImage", for = "unix"},
]

[open]
prepend_rules = [
  { mime = "video/*", use = "display_video" },
  { mime = "image/*", use = "display_image" },
  { mime = "application/pdf", use = "display_pdf" },

  { url = "*.sh", use = ["edit", "run"] },
  { url = "*.AppImage", use = "run_appimage" },
]
